.a img{
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
.brand-cards {
  position: relative;
}
.brand-cards h3 {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  left: 150px;
  background-color: rgba(255,255,255,0.7);
  padding: 5px;
  border-radius: 5px;
}
